:root {
    --bg: #2c3338;
    --btn: #ea4c88;
    --btn-text: white;
    --btn-bg: #3b4148;
}
html {
    /* background-color: gray; */
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.grid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    margin-bottom: 1rem;
}

input {
    background: transparent;
    color: var(--btn-text);
    border: 1px solid #3b4148;
    margin: 0;
    outline: 0;
    padding: 0.75rem;
    border-radius: 7px;
    height: 2rem;
}

button {
    color: var(--btn-text);
    background-color: var(--btn-bg);
    font-weight: bold;
    width: 100%;
    height: 2rem;
    outline: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
    background-color: var(--btn);
}