:root {
    --bg: #2c3338;
    --btn: #ea4c88;
    --btn-text: white;
    --btn-bg: #3e6793;
}
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #1a1b1d;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--btn-bg);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn);
}
