/* styles.css */

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #2c3338;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    font-size: 16px; /* Set a base font size for the root element */
    overflow-y: scroll;
}

.card-container {
    padding: 1rem; /* 20px */
}

.card {
    border: 1px solid #4a3169;
    border-radius: 1rem; /* 16px */
    overflow: hidden;
    background-color: #3a254a;
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
    width: 450%; /* Adjust the width as needed */
    margin: auto; /* Center the card */
    height: 380px;
}


.card-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    filter: brightness(70%);
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card-header {
    padding: 1.25rem; /* 20px */
}

.card-title {
    margin-bottom: 1rem; /* 10px */
    color: #e5e5e5;
}

.card-price small strong {
    color: #4caf50;
    font-size: 1.2rem; /* 1.2 times the base font size */
}

.title {
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 700;
}