<!-- landing.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Antglos Shop</title>
    <style>
        .shoe-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        .shoe-image {
            width: 100%;
            height: 35rem;
        }

        .add-to-cart-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            font-size: 18px;
            border: none;
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css"
</head>

<body>
    {% extends "nav.html" %}
    {% block content %}
    <h1 class="title">Welcome {{ name }}</h1>
    <div class="column">
        {% for cord in cordproduct %}
            {% include 'corditem.html' %}
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
