<!-- landing.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antglos Shop</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    <link rel="stylesheet" href="/static/css/shoes.css">
</head>

<body>
    {% extends "nav.html" %}
    {% block content %}
    <header>
        <h1>Welcome {{ name }}</h1>
    </header>
    <div class="shoe-grid">
        <div class="shoe">
            <h2>Shoe1</h2>
            <img src="look/shoe1.jpg" alt="Shoe 1">
            <button>ADD TO CART</button>
        </div>
        <div class="shoe">
            <h2>Shoe2</h2>
            <img src="look/shoe2.jpg" alt="Shoe 2">
            <button>ADD TO CART</button>
        </div>

        <div class="shoe">
            <h2>Shoe3</h2>
            <img src="look/shoe3.jpg" alt="Shoe 3">
            <button>ADD TO CART</button>
        </div>

        <div class="shoe">
            <h2>Shoe4</h2>
            <img src="look/shoe4.jpg" alt="Shoe 4">
            <button >ADD TO CART</button>
        </div>

    </div>
    {% endblock %}
</body>

</html>