<!-- templates/auth/login.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Antglos Shop - Login</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
</head>
<body>
    {% extends "nav.html" %}

    {% block content %}
    <h1 class="title">Login</h1>
    <form action="/login" method="POST">
        <div class="field">
            <input 
                type="text" 
                name="username"
                placeholder="Username"
            >
        </div>
        <div class="field">
            <input 
                type="password" 
                name="password"
                placeholder="Password"
            >
        </div>
        <div class="field">
            <button class="submit_button">Submit</button>
        </div>
    </form>
    {% endblock %}
</body>
</html>
